.dashboard_header{
    color: #804523;
    padding-bottom: 20px;
    font-family: 'Roboto';
}

.dashboard_main{
    display: inline-block;
    width: 723px;
    border-bottom: 4px solid #E18B58;
    margin-bottom: 15px;
}

.dashboard_btn{
    font-size: 15px;
    border: 2px solid #804523;
    border-radius: 10px;
    padding: 10px;
    color: #804523;
    font-family: 'Roboto';
  }
