.footer{
    width: 708px;
    padding: 25px 0;
    display: contents;

}

.footer_p{
    display: inline-block;
    width: 708px;
    text-align: left;
    margin-right: 0;
    padding: 15px;
    background-color: #E18B58;    
}