.progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #804523;
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.activities {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-right: auto;
  padding-left: 10px;
}

p{
  font-family: 'Roboto';
}