.validation-error {
  color: red;
}

#onboarding_body{
  width: 708px;
  display: contents;
}

.onboarding_header{
  color: #804523;
  padding-bottom: 20px;
  font-family: 'Roboto';
}

.onboarding_form{
    text-align: justify;
    display: inline-block;
    padding-bottom: 35px;
    font-family: 'Roboto';
    font-size: 18px;
    color: #804523;
}

.header_border{
  display: inline-block;
  width: 723px;
  border-bottom: 4px solid #E18B58;
}

.onboarding_btn{
  font-size: 15px;
  border: 2px solid #804523;
  border-radius: 10px;
  padding: 10px;
  color: #804523;
  font-family: 'Roboto';
}